<p><%= @email %>さん、こんにちは！</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが<%= @resource.unconfirmed_email %>に変更されることをお知らせするためにご連絡しています。</p>
<% else %>
  <p>メールアドレスが<%= @resource.email %>に変更されたことをお知らせするためにご連絡しています。</p>
<% end %>
