<p><%= @resource.email %>さん、こんにちは！</p>

<p>パスワード変更のリクエストがありました。以下のリンクからパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに覚えがない場合は、このメールを無視してください。</p>
<p>リンクにアクセスして新しいパスワードを設定するまでは、パスワードは変更されません。</p>

