<p><%= @resource.email %>さん、こんにちは！</p>

<p>サインインの失敗が多すぎたため、アカウントがロックされました。</p>

<p>以下のリンクをクリックしてアカウントのロックを解除してください：</p>

<p><%= link_to 'アカウントのロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>

